In [2]:
import pandas as pd

--------
미세먼지 PM10 전처리

-----

In [5]:
pm10 = pd.read_csv('미세먼지_PM10__월별_도시별_대기오염도_20221118165018.csv', encoding='cp949')

In [6]:
pm10

           시점    구분(1)  구분(2) 데이터
0     2010.01    서울특별시  서울특별시  59
1     2010.01    대구광역시  대구광역시  56
2     2010.01    인천광역시  인천광역시  64
3     2010.01    광주광역시  광주광역시  46
4     2010.01    대전광역시  대전광역시  48
...       ...      ...    ...  ..
2194  2021.10     전라북도    도평균  31
2195  2021.10     전라남도    도평균  24
2196  2021.10     경상북도    도평균  25
2197  2021.10     경상남도    도평균  23
2198  2021.10  제주특별자치도    도평균  24

[2199 rows x 4 columns]

In [7]:
pm10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      2199 non-null   float64
 1   구분(1)   2199 non-null   object
 2   구분(2)   2199 non-null   object
 3   데이터     2199 non-null   object
dtypes: float64(1), object(3)
memory usage: 68.8+ KB

In [9]:
pm10.isna().sum()

시점       0
구분(1)    0
구분(2)    0
데이터      0
dtype: int64

In [16]:
pm10['기간'] = pm10['시점'].astype('str').str.split('.').str.get(0).astype('int')

In [21]:
pm10['구분(1)'].unique()

array(['서울특별시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '경기도', '강원도',
       '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도',
       '세종특별자치시'], dtype=object)

In [33]:
pm10['지역'] = pm10['구분(1)'].str.split('특').str.get(0).str.split('광역').str.get(0).str.replace('도', '').str.replace('청', '').str.replace('라', '').str.replace('상', '')

In [42]:
pm10['미세먼지'] = pm10['데이터'].str.replace('*', '').astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_13104\1826248700.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pm10['미세먼지'] = pm10['데이터'].str.replace('*', '').astype('int')

In [47]:
pm10_data = pm10[['기간', '지역', '미세먼지']]

In [51]:
pm10_data.to_csv('pm10_data.csv', encoding='cp949')