In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
def df_clear(data):
    df = data 
    df.columns = ['ranking', 'title', 'opening_date', 'sales',
             'sales_percent', 'sum_sales', 'audience', 'sum_audience', 
            'screens', 'shows', 'main_nation', 'nation', 
              'producer', 'distributor', 'rated', 
              'genre', 'director', 'actor'] 
    df.drop(columns=['ranking', 'sales', 'sales_percent', 'audience', 'nation'], inplace=True)
    df.dropna(subset=['opening_date','genre','director','actor'], inplace=True)
    df = df[~df['genre'].str.contains('성인물', na=False)]
    df.fillna(value={'rated':'전체관람가'}, inplace=True)
    return df

#### 데이터 불러오기

In [3]:
df = pd.read_excel('KOBIS_기간별박스오피스_2018-01-01_2019-12-31.xlsx')
df.head(2)

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,극한직업,2019-01-23,139651845516,0.039,139651845516,16265618,16265618,2003,292584,한국,한국,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",(주)씨제이이엔엠,15세이상관람가,코미디,이병헌,"류승룡,이하늬,진선규,이동휘,공명,양현민,장진희,한준우,김명준,나철,정재광,정원창,..."
1,2,어벤져스: 엔드게임,2019-04-24,122182694160,0.034,122182694160,13934592,13934592,2835,242001,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레..."

In [4]:
df.shape

(6530, 18)

In [5]:
data1 = df_clear(df)
data1.shape

(1634, 13)

In [6]:
data1.head(1)

,title,opening_date,sum_sales,sum_audience,screens,shows,main_nation,producer,distributor,rated,genre,director,actor
0,극한직업,2019-01-23,139651845516,16265618,2003,292584,한국,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",(주)씨제이이엔엠,15세이상관람가,코미디,이병헌,"류승룡,이하늬,진선규,이동휘,공명,양현민,장진희,한준우,김명준,나철,정재광,정원창,..."

In [7]:
df2 = pd.read_excel('KOBIS_기간별박스오피스_2016-01-01_2017-12-31.xlsx')
df2.head(2)

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,택시운전사,2017-08-02,95853645649,0.029,95853645649,12186327,12186327,1906,184075,한국,한국,더램프(주),(주)쇼박스,15세이상관람가,드라마,장훈,"이수민,송강호,토마스 크레취만,유해진,류준열,박혁권,최귀화,이창섭,이호균,서정우,송..."
1,2,부산행,2016-07-20,93182579048,0.028,93182579048,11566862,11566862,1788,151350,한국,한국,(주)영화사레드피터,(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"액션,스릴러",연상호,"공유,김정희,정유미,김율호,이주원,이영욱,마동석,김찬호,김운,최우식,안소희,김의성,..."

In [8]:
df2.shape

(5865, 18)

In [9]:
data2 = df_clear(df2)
data2.shape

(2002, 13)

In [10]:
df3 = pd.read_excel('KOBIS_기간별박스오피스_2014-01-01_2015-12-31.xlsx')
df3.head(2)

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,명량,2014-07-30,135753219310,0.043,135753219310,17615039,17615039,1587,188646,한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,15세이상관람가,"사극,액션",김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,..."
1,2,국제시장,2014-12-17,110930943730,0.035,110930943730,14261581,14261581,1044,212664,한국,한국,"(주)제이케이필름,(주)씨제이이엔엠",(주)씨제이이엔엠,12세이상관람가,드라마,윤제균,"황정민,김윤진,오달수,정진영,장영남,라미란,김슬기,정영기,맹세창,김동원,김현중,김지..."

In [11]:
data3 = df_clear(df3)
data3.shape

(1753, 13)

In [12]:
df4 = pd.read_excel('KOBIS_기간별박스오피스_2012-01-01_2013-12-31.xlsx')
df4.head(2)

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,도둑들,2012-07-25,93665568500,0.032,93665568500,12983330,12983330,1091,155393,한국,"한국,홍콩",(주)케이퍼필름,(주)쇼박스,15세이상관람가,"액션,범죄",최동훈,"김윤석,김혜수,이정재,전지현,임달화,김해숙,오달수,김수현,이심결,증국상,서영주,장동..."
1,2,7번방의 선물,2013-01-23,91431914670,0.031,91431914670,12811206,12811206,866,166815,한국,한국,"(주)화인웍스,(주)씨엘엔터테인먼트",(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"코미디,드라마",이환경,"장이준,류승룡,박신혜,갈소원,정진영,오달수,박원상,김정태,정만식,김기천,장호준,김동..."

In [13]:
data4 = df_clear(df4)
data4.shape

(1236, 13)

In [14]:
df5 = pd.read_excel('KOBIS_기간별박스오피스_2010-01-01_2011-12-31.xlsx')
df5.head(2)

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,트랜스포머 3,2011-06-29,74840681500,0.034,74840681500,7784743,7784743,1409,124450,미국,미국,NaN,(주)씨제이이엔엠,12세이상관람가,"액션,어드벤처",마이클 베이,"조쉬 더하멜,존 말코비치,로지 헌팅턴-휘틀리,샤이아 라보프,패트릭 뎀시"
1,2,최종병기 활,2011-08-10,55827861500,0.025,55827861500,7470633,7470633,615,130054,한국,한국,"(주)디씨지플러스,(주)다세포클럽",롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"사극,액션",김한민,"박해일,류승룡,김무열,문채원,이한위,김구택,이경영,박기웅,이승준,이재구,박노식,이다..."

In [15]:
data5 = df_clear(df5)
data5.shape

(725, 13)

## 데이터 합치기

In [16]:
df_con = pd.concat([data1, data2, data3, data4, data5])
df_con.head(2)

,title,opening_date,sum_sales,sum_audience,screens,shows,main_nation,producer,distributor,rated,genre,director,actor
0,극한직업,2019-01-23,139651845516,16265618,2003,292584,한국,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",(주)씨제이이엔엠,15세이상관람가,코미디,이병헌,"류승룡,이하늬,진선규,이동휘,공명,양현민,장진희,한준우,김명준,나철,정재광,정원창,..."
1,어벤져스: 엔드게임,2019-04-24,122182694160,13934592,2835,242001,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레..."

In [17]:
df_con.shape

(7350, 13)

In [18]:
#데이터 검증
#df_con.to_excel('data_con.xlsx', index=False)

In [19]:
df_con.head()

,title,opening_date,sum_sales,sum_audience,screens,shows,main_nation,producer,distributor,rated,genre,director,actor
0,극한직업,2019-01-23,139651845516,16265618,2003,292584,한국,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",(주)씨제이이엔엠,15세이상관람가,코미디,이병헌,"류승룡,이하늬,진선규,이동휘,공명,양현민,장진희,한준우,김명준,나철,정재광,정원창,..."
1,어벤져스: 엔드게임,2019-04-24,122182694160,13934592,2835,242001,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레..."
2,겨울왕국 2,2019-11-21,111596248720,13369064,2648,282557,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"크리스 벅,제니퍼 리","크리스틴 벨,이디나 멘젤,조시 게드,조나단 그로프"
3,알라딘,2019-05-23,106955138359,12552283,1409,266469,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",가이 리치,"메나 마수드,윌 스미스,나오미 스콧"
4,신과함께-인과 연,2018-08-01,102677675409,12276350,2235,180042,한국,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",김용화,"하정우,주지훈,김향기,마동석,김동욱,이정재,김기태,오희준,도경수,이준혁,이수봉,이용..."

In [20]:
df_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7350 entries, 0 to 2360
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         7350 non-null   object
 1   opening_date  7350 non-null   datetime64[ns]
 2   sum_sales     7350 non-null   int64
 3   sum_audience  7350 non-null   int64
 4   screens       7350 non-null   int64
 5   shows         7350 non-null   int64
 6   main_nation   7350 non-null   object
 7   producer      3103 non-null   object
 8   distributor   6134 non-null   object
 9   rated         7350 non-null   object
 10  genre         7350 non-null   object
 11  director      7350 non-null   object
 12  actor         7350 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 803.9+ KB

## 데이터 제목, 오프닝 중복 제거 (2년치 데이터 붙이면서 중복되는 데이터 제거)

In [21]:
df_con[df_con.duplicated(subset=['title', 'opening_date'], keep=False)].groupby('title').count()

,opening_date,sum_sales,sum_audience,screens,shows,main_nation,producer,distributor,rated,genre,director,actor
title,,,,,,,,,,,,
1987,2,2,2,2,2,2,2,2,2,2,2,2
2012,2,2,2,2,2,2,2,2,2,2,2,2
007 스펙터,2,2,2,2,2,2,0,2,2,2,2,2
127시간,2,2,2,2,2,2,0,2,2,2,2,2
12인의 하숙생,3,3,3,3,3,3,3,0,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...
흑룡강,3,3,3,3,3,3,3,0,3,3,3,3
희생,4,4,4,4,4,4,4,0,4,4,4,4
히마와리와 나의 7일,2,2,2,2,2,2,0,2,2,2,2,2
히말라야,2,2,2,2,2,2,2,2,2,2,2,2
히어애프터,2,2,2,2,2,2,0,2,2,2,2,2

In [22]:
# 중복값 제거, 첫번째 항목만 남김 (최근, 누적 관객수 많은 값)
df_dup = df_con.drop_duplicates(subset=['title', 'opening_date'], keep='last')

In [23]:
# 중복 값 확인. 없어야 정상
df_dup[df_dup.duplicated(subset=['title', 'opening_date'], keep=False)].groupby('title').count()

Empty DataFrame
Columns: [opening_date, sum_sales, sum_audience, screens, shows, main_nation, producer, distributor, rated, genre, director, actor]
Index: []

In [24]:
df_dup.shape

(5974, 13)

In [25]:
df_dup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 2360
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         5974 non-null   object
 1   opening_date  5974 non-null   datetime64[ns]
 2   sum_sales     5974 non-null   int64
 3   sum_audience  5974 non-null   int64
 4   screens       5974 non-null   int64
 5   shows         5974 non-null   int64
 6   main_nation   5974 non-null   object
 7   producer      2282 non-null   object
 8   distributor   5174 non-null   object
 9   rated         5974 non-null   object
 10  genre         5974 non-null   object
 11  director      5974 non-null   object
 12  actor         5974 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 653.4+ KB

In [26]:
df_dup[['title']].value_counts(ascending=True)

title
33              1
욕망의 쉐어하우스       1
욕망의 라쇼몽 무삭제판    1
욕망의 독: 중독       1
욕망의 대지          1
               ..
유혹              3
카운트다운           3
미녀와 야수          3
몬스터             3
로미오와 줄리엣        3
Length: 5889, dtype: int64

In [27]:
#데이터 검증
#df_dup.to_excel('data_dup.xlsx', index=False)

## 100,00 명 미만 인원수 제거

In [28]:
data = df_dup[df_dup['sum_audience'] >= 10**4]
data.shape

(1914, 13)

In [29]:
data.reset_index(drop=True, inplace=True)

In [43]:
data.columns

Index(['title', 'opening_date', 'sum_sales', 'sum_audience', 'screens',
       'shows', 'main_nation', 'producer', 'distributor', 'rated', 'genre',
       'director', 'actor'],
      dtype='object')

In [56]:
data = data[data['opening_date']>='2018-01-01']

In [57]:
data = data[data['opening_date']<'2020-01-01']

In [58]:
# data.to_excel('data.xlsx', index=False)

## 감독 지수

In [31]:
# dir_count = data[['title','director']].groupby('director').count()
# dir_count = dir_count.reset_index()
# dir_count

In [32]:
# dir_data = data.sort_values(by=['director','title', 'opening_date'])
# dir_data.head()

## 왓차 평점 붙이기

In [33]:
# data['year'] = data.opening_date.dt.year
# data.head(5)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914 entries, 0 to 1913
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1914 non-null   object
 1   opening_date  1914 non-null   datetime64[ns]
 2   sum_sales     1914 non-null   int64
 3   sum_audience  1914 non-null   int64
 4   screens       1914 non-null   int64
 5   shows         1914 non-null   int64
 6   main_nation   1914 non-null   object
 7   producer      906 non-null    object
 8   distributor   1912 non-null   object
 9   rated         1914 non-null   object
 10  genre         1914 non-null   object
 11  director      1914 non-null   object
 12  actor         1914 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 194.5+ KB

In [35]:
#데이터 검증
#data.to_excel('data_mv.xlsx', index=False)

In [36]:
# from watcha2 import watchapedia

In [37]:
# movie_list = []
# for i in range(1, len(data)):
#     a_dict = { 'title': str(data.iloc[i]['title']) , 'year': str(data.iloc[i]['year'])}
#     movie_list.append(a_dict)

In [38]:
# #성공
# test_list = [{'title': '알라딘', 'year': '2019'}, {'title': '겨울왕국 2', 'year': '2019'}]
# #못찾음 , 왓차는 극한직업 2018 로 되어 이음
# test_list2 =  [{'title': '극한직업', 'year': '2019'}]

In [39]:
# w = watchapedia(movie_list)
# w.getMovieUrl()
# w.getMovieData()

In [40]:
# mv_data = w.getMovieData()
# mv_data